header {
    background-color: darkolivegreen;
    color: white;
    padding: 1em;
    text-align: center;
}

body {
    margin: 0;
}

main {
    margin: 1em;
}
.highlight {
    background: red;
}

table, th, td {
    border: 1px solid black;
}

table th, table td {
    padding: 5px;
    text-align: left;
}

